.square {
  width: 60px;
  height: 60px;
  position: relative;
  outline: 2px solid grey;
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.index {
  font-size: 10px;
  position: absolute;
  transform: translateX(25px) translateY(-25px);
}

.selected {
  outline-color: aqua;
}
