.square {
  width: 60px;
  height: 60px;
  position: relative;
  outline: 2px solid grey;
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.index {
  font-size: 10px;
  position: absolute;
  transform: translateX(25px) translateY(-25px);
}

@keyframes moveToComparisonLeft {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100px);
  }
}

@keyframes moveToComparisonRight {
  from {
  }

  to {
  }
}

.selected {
  outline-color: aqua;

  /* animation-name: ;
  animation-duration: ;
  animation-timing-function: ;
  animation-delay: ;
  animation-iteration-count: ;
  animation-direction: ;
  animation-fill-mode: ; */
  /* animation: moveToComparisonLeft 10s; */
}
