.UserOperations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
  background-color: #242424;
}

.button {
  grid-column: span 1;
  grid-row: span 1;
}

.big-button {
  grid-column: span 3;
}

.text-field {
  grid-column: span 1;
  grid-row: span 1;
  align-self: center;
  background-color: white;
}

.insert {
  font-size: 25px;
}

.delete {
  font-size: 25px;
}

.clear {
  font-size: 25px;
}

.start {
  grid-column: span 2;
  font-size: 25px;
}

.previous {
  font-size: 25px;
}

.next {
  font-size: 25px;
}
